@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>2015-3036<small>Wilmer Ramirez</small></h2>
    <p><a href="/Clientes/index" class="btn btn-primary btn-lg">Clientes</a></p>
    <p><a href="/Prestamos/index" class="btn btn-primary btn-lg">Prestamos</a></p>
</div>
